body {
    margin: 0;
    background-image: url("../img/background.png");
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    opacity: 95%;
}

form {
    width: 400px;
    height: auto;
    padding: 30px;
    border-radius: 2px;
    background-color: #f4f3f3;
    -webkit-box-shadow: 0px 2px 19px -1px rgba(37,37,37,0.5); 
    box-shadow: 0px 2px 19px -1px rgba(37,37,37,0.5);
}

input {
    display: block;
    width: 93%;
    border: none;
    border-bottom: 2px solid #5f5f5f;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    margin-top: 15px;
}

button {
    background-color: #41b05b;
    border: none;
    border-radius: 3px;
    color: #f4f3f3;
    font-size: 15px;
    padding: 10px;
    cursor: pointer;
    float: right;
    margin-top: 15px;
    width: 100px;
}

h2 {
    color: #5f5f5f;
    font-size: 35px;
    text-align: center;
    margin: 30px;
    margin-bottom: 50px;
}

footer {
    background-color: #006BCB;
    width: auto;
    text-align: center;
    padding: 10px;
    color: #eaeaea;
    bottom: 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

button:hover{
    opacity: 0.9;
}

input:focus{
    outline: none;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
